#title{
    width:100%;
    padding: 5px 0;
    border: 1px solid #0074eb;
}
#text{
    width: 100%;
    resize: none;
    border: 1px solid #0074eb;
}

.formComponent label{
    color: #0074eb;
    padding: 10px;
}

.buttonComment{
    width: 100%;
    background-color: #0074eb;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    padding: 5px;
}
.buttonComment:hover{
    cursor: pointer;
    background-color: #007af7;
}